.popup-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  }
  
  .popup {
    width: 300px;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  margin: auto;
  }
  
  .popup h2 {
    margin-top: 0;
    font-size: 18px;
    text-align: center;
  }
  
  .input-container {
    margin-bottom: 10px;
  }
  
  .input-container label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
  }
  
  .input-container input,
  .input-container select {
    width: 100%;
    padding: 5px;
    font-size: 14px;
  }
  
  .button-container {
    display: flex;
    justify-content: flex-end;
  }
  
  .button-container button {
    padding: 8px 16px;
    font-size: 14px;
    background-color: #693b3b;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  .toast {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #693b3b;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 14px;
  }
  .button-container {
    float: right;
    
  }
  .input-container label::after {
    content: "*";
    color: red;
  }
  
 
